.flexBox {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem;
}

.imageContainer {
  flex: 1;
  background-color: black;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.inputContainer {
  flex: 1;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid white;
  padding-top: 1rem;
}

.description {
  padding: 1rem;
  border-top: 2px solid white;
  color: white;
  word-break: break-all;
  white-space: normal;
}

@media only screen and (max-width: 590px) {
  .flexBox{
    flex-direction: column;
  }
  .inputContainer{
   width: 100%;
   padding-bottom: 3rem;
   border-radius: 0 0 1rem 1rem;
   border-top: 2px solid white;
   border-left: none;
  }
  .imageContainer{
    flex: none;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}
