.formLabel {
  display: flex;
  align-items: start !important;
  width: 29rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  margin-top: 1.5rem;
  font-family: "Black Ops One", system-ui;
  color: "white";
}

.label {
  margin-top: 0;
  width: 30rem;
  z-index: 1;
}

.h5 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  width: 28rem;
  margin-top: 2rem;
  margin-bottom: 2.3rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
