.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.colHeader {
  width: 100%;
  height: 3rem;
  display: flex;
  overflow: hidden;
  text-decoration: none !important;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid white;
}

.hicon {
  height: 100%;
  width: 25%;
  color: white;
  display: block;
  padding-bottom: 0.3rem;
}

.htitle {
  display: flex;
  height: 100%;
  width: 70%;
  font-size: 3rem;
  margin-left: 0.5rem;
  color: white;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.navs{
  display: block;
  width: 100% !important;
  margin-top: 2rem;
}